<div class="container-fluid">
    <div class="row">
         {{#each users}}
        <div class="col" id="users-box">
            <a href="/user/{{_id}}">
            <img class="rounded" src="{{image}}" id="users-image">
            </a>
            <div class="card">
                <img class="card-img-top" src="{{image}}">
                <div class="card-body">
                   <a href="/user/{{id}}"><h5 class="card-title">{{fullname}}</h5></a>
                    <p id="address" class="card-title">{{location}}</p>
                </div>
            </div>
        </div>
         {{/each}}
    </div>
</div>
{{!-- <div class="container-fluid">
     {{#each users}}
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width:18rem;">
                <img class="card-img-top" src="{{image}}">
                <div class="card-body">
                   <h5 class="card-title">{{fullname}}</h5>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div> --}}